<h6>{{organization.name}}'s Registration Link: {{#link-to 'register' (query-params organization=organization.id)}}{{url}}register?organization={{organization.id}}{{/link-to}}</h6>
<label>Send this link to people in your organization to register for BioKey!</label>
