<h6>{{organization.name}}'s Registration Link: {{#link-to 'register' (query-params orgId=organization.id orgName=organization.name)}}{{url}}register?orgId={{organization.id}}&orgName={{organization.name}}{{/link-to}}</h6>
<label>Send this link to people in your organization to register for BioKey!</label>
