<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">MAC</th>
			<th scope="col">Organization</th>
		</tr>
	</thead>
	<tbody>
		{{#each machines as |machine|}}
		{{#if machine.mac}}
		{{#if machine.organization}}
		{{#unless machine.isNew}}
		{{#unless machine.isDeleted}}
		{{#link-to 'machines.machine' machine.id tagName="tr" class="clickable-row"}}
		<th scope="row">{{machine.mac}}</th>
		<td>
			{{#link-to 'organizations.organization' machine.organization}}
			{{machine.organization.name}}
			{{/link-to}}
		</td>
		{{/link-to}}
		{{/unless}}
		{{/unless}}
		{{/if}}
		{{/if}}
		{{/each}}
	</tbody>
</table>