<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        {{#link-to 'index' class='nav-link'}}Home{{/link-to}}
      </li>
      {{#if session.isAuthenticated}}
      <li class="nav-item">
        {{#link-to 'users' class='nav-link'}}Users{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'machines' class='nav-link'}}Machines{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'organizations' class='nav-link'}}Organizations{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'profiles' class='nav-link'}}Profiles{{/link-to}}
      </li>
      {{/if}}
    </ul>

  </div>
</nav>