<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Max Users</th>
		</tr>
	</thead>
	<tbody>
		{{#each orgs as |org|}}
		{{#unless org.isNew}}
		{{#unless org.isDeleted}}
		{{#link-to 'organizations.organization' org.id tagName="tr" class="clickable-row"}}
		<th scope="row">{{org.name}}</th>
		<th scope="row">{{org.maxUsers}}</th>
		{{/link-to}}
		{{/unless}}
		{{/unless}}
		{{/each}}
	</tbody>
</table>