<div class="clearfix">
	<div class="float-md-left">
		<h1>Organizations</h1>
	</div>
	<div class="float-md-right">
		{{#link-to 'organizations.new' class="btn btn-secondary btn-md"}}New{{/link-to}}
	</div>
</div>

<br/>
{{organization-list orgs=model}}