<div class="clearfix">
	<div class="float-md-left">
		<h1>Users</h1>
	</div>
	<div class="float-md-right">
		{{#link-to 'users.new' class="btn btn-secondary btn-md"}}New{{/link-to}}
	</div>
</div>

<br/>
{{user-list users=model}}