<div class="clearfix">
	<div class="float-md-left">
		<h1>Machines</h1>
	</div>
	<div class="float-md-right">
		{{#link-to 'machines.new' class="btn btn-secondary btn-md"}}New{{/link-to}}
	</div>
</div>

<br/>
{{machine-list machines=model}}