<div class="clearfix">
	<div class="float-md-left">
		<h1>Typing Profiles</h1>
	</div>
	<div class="float-md-right">
		{{#link-to 'profiles.new' class="btn btn-secondary btn-md"}}New{{/link-to}}
	</div>
</div>

<br/>
{{typing-profile-list typingProfiles=model}}