{{nav-bar-header}}
<div class="container-fluid">
	<div class="row">
		{{nav-bar}}
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			{{outlet}}
		</main>
	</div>
</div>
{{ember-cli-spinner id="page-spinner" type="wave" width="60px" height="40px" color="blue" bgColor="transparent"}}